extends layout

block content
  .section
    .container 
      .columns
        .column.is-half
          h1.title.is-1 Publish an online obituary
        .column
          img(src='https://via.placeholder.com/350')
